<div class="big__card__container">
    <div class="container__photo">
        <img src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" alt="" height="200px">
    </div>
    <div class="container__title">
        <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="container__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam pulvinar lacus at erat lobortis consequat. 
            Quisque vitae ante ut augue sollicitudin varius. 
            Duis facilisis lacus vel risus sodales, eget consectetur lacus porttitor. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
            Cras in lectus pellentesque, vehicula dui in, placerat erat.</p>
    </div>
</div>