.big__card__container {
    width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.container__title>h1 {
    font-size: 20px;
    margin-top: 15px;
}

.container__description {
    margin-top: 20px;
}

.container__description>p>a {
    color: grey;
}


.container__photo>img {
    width: 100%;
    min-width: 400px;
}